<img src="assets/travel-small.png" class="logo"/>
<button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
    Menu
</button>
<mat-menu #menu="matMenu">
    <a routerLink="/home" mat-menu-item>
        <mat-icon>home</mat-icon>
        Home
    </a>
    <a routerLink="/plans" mat-menu-item>
        <mat-icon>travel_explore</mat-icon>
        Plan
    </a>
    <a routerLink="/report" mat-menu-item>
        <mat-icon>flag_circle</mat-icon>
        Report
    </a>
</mat-menu>


