<mat-toolbar color="primary" role="header">
  <span>Welcome to {{ title }}!</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>Right Aligned Text</span>
</mat-toolbar>

<h2>Here are my Agendas to help you start with NG project: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li><h2><a target="_blank" rel="noopener" href="https://cli.angular.io/">Angular CLI</a> </h2></li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a  target="_blank" rel="noopener" href="https://material.angular.io/">Angular Material</a> </h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>


<router-outlet></router-outlet>
