.idea
/.idea/sonarlint/*
/.idea/shelf/


# compiled output
/dist
/tmp
/out-tsc
/backend/target/*

# ui cache
ui-app/node_modules
ui-app/.angular
ui-app/.sass-cache
ui-app/dist

docker-compose/php

*.iml
