.idea
/.idea/sonarlint/*
/.idea/shelf/


# compiled output
/dist
/tmp
/out-tsc
/backend/target/*
/backend/src/php/wp-config.php
/backend/src/flyway/db113161_3.sql
backend/src/php/wp-content/plugins/*

# ui cache
ui-app/node_modules
ui-app/.angular
ui-app/.sass-cache
ui-app/dist

docker-compose/php

*.iml


