app-navigation-container {
  height: calc(100% - 54px);
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  z-index: 1;
  display: block;
}

navigation-content {
  margin-left: 60px;
  margin-right: 0;
  display: block;
  position: relative;
  z-index: 1;
  height: 100%;
  transition: margin-left 0.2s;
}

navigation-content.pushed {
  margin-left: 280px;
}

/* override mat styling for button focus */
.nav-item.mat-button:hover .mat-button-focus-overlay {
  opacity: 0;
}
