<mat-toolbar role="header">
  <span>Create New Data</span>
</mat-toolbar>

<mat-card>
  <mat-card-title>Please input your date step by step.</mat-card-title>

  <mat-card-content>
    <mat-horizontal-stepper [linear]="isLinear" #stepper="matHorizontalStepper">
      <mat-step [stepControl]="formGroup" label="Fill out your name">
        <app-step1 [formGroup]="formGroup"></app-step1>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Fill out your address</ng-template>
        <app-step2 [formGroup]="formGroup"></app-step2>
      </mat-step>
      <mat-step>
        <form [formGroup]="formGroup">
          <ng-template matStepLabel>Job Information</ng-template>
          <mat-form-field>
            <input matInput placeholder="Job Title" formControlName="job">
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="save()" [disabled]="formGroup.invalid">Save</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>
