<mat-toolbar role="header">
  <span>Overview</span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>

  <span>
    <button mat-button (click)="createData()">Create</button>
  </span>
</mat-toolbar>

<ag-grid-angular style="width: 100%; height: 70%;"
                 class="ag-theme-material"
                 [rowData]="rowData"
                 [columnDefs]="columnDefs"
                 enableFilter
                 enableSorting
                 pagination
                 (rowDoubleClicked)="onRowDoubleClicked($event)">
</ag-grid-angular>
