.todos-action-buttons {
  padding-bottom: 20px;
}

.todos-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.todos-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}


.material-icons.color_red {
  color: #ff0000;
}

.material-icons.color_rosa {
  color: #FF000035;
}
