<title>
  <mat-icon class="tab-icon">crisis_alert</mat-icon>
  Reise Ziele
</title>
<table matSort mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="must">
    <th mat-header-cell *matHeaderCellDef>Must-have?</th>
    <td mat-cell *matCellDef="let element">
      @if (element.mustHave) {
        <mat-icon class="material-icons color_red">favorite</mat-icon>
      } @else {
      <mat-icon class="material-icons color_rosa">recommend</mat-icon>
    }
    </td>
  </ng-container>
  <ng-container matColumnDef="visitTime">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bester Besuchtsmonat</th>
    <td mat-cell *matCellDef="let element"> {{ element.visitTime }}</td>
  </ng-container>
  <ng-container matColumnDef="continent">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Kontinent</th>
    <td mat-cell *matCellDef="let element"> {{ element.continent }}</td>
  </ng-container>
  <ng-container matColumnDef="country">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Land</th>
    <td mat-cell *matCellDef="let element"> {{ element.country }}</td>
  </ng-container>
  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef>Region</th>
    <td mat-cell *matCellDef="let element"> {{ element.area }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
    <td mat-cell *matCellDef="let element"> {{ element.name }}</td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Beschreibung / Information</th>
    <td mat-cell *matCellDef="let element"> {{ element.description }} {{ element.detail }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>





