<nav class="leftnav-container" (mouseleave)="onMouseLeaveNav()">
  <ul class="leftnav-main" [@mainNavState]="mainNavState">
    <li>
      <button mat-button class="nav-item main" (click)="toggleState()">
        <mat-icon class="nav-item-icon">menu</mat-icon>
        Menu
      </button>
    </li>
    <!-- main menu --->
    <li *ngFor="let item of navItems" (mouseenter)="onEnterMainItem(item)">
      <button mat-button class="nav-item main" [class.active]="item.id == activeMainItem"
              [class.highlight]="item.id == highlightedMainItem"
              (click)="setActivePage(item.id, undefined, item.href)">
        <mat-icon class="nav-item-icon">{{ item.matIcon }}</mat-icon>
        {{ item.name }}
        <mat-icon class="nav-item-submenu-indicator" *ngIf="item.menu">chevron_right</mat-icon>
      </button>
    </li>
  </ul>
  <!-- 2nd level menu -->
  <ul class="leftnav-sub" [class.open]="subPanelOpen">
    <li *ngFor="let item of navItems">
      <ul *ngIf="item.menu" class="submenu" [class.active]="activeMainItem == item.id">
        <li class="subnav-header"><h5>{{ item.name }}</h5></li>
        <li *ngFor="let subitem of item.menu">
          <button mat-button class="nav-item sub" [class.highlight]="subitem.id == highlightedSubMenuItem"
                  (click)="setActivePage(item.id, subitem.id, subitem.href)">{{ subitem.name }}
          </button>
        </li>
      </ul>
    </li>
  </ul>
</nav>
