<section>
    <h2>Who we are</h2>
    <p> Hello, mein name is Xin and I was born in China. As a software engineer, I am living and working in Germany
        since many many years.
        I love this country and she is my second homeland now.</p>
    <p> And I am Michael and come from Germany ... </p>
</section>
<section>
    <h2>What do we want to do</h2>
    <p> There are many places we want to see before we die. Holidays are very useful but they are limited.
        We want to use 1 year sabbatical to travel around the world. you can take a look at our detail plan about our
        targets,
        budgets, Todos before the start and packing lists
        After we start our journey we want to post our experiences and document the journey for you. who knows, maybe
        you will want to do the same like us one day</p>
    <div><img src="assets/world-scaled.png" class="map"/></div>
    <p>Of cause you would say: hey! this is not the whole world and there are lot of other countries and places we
        should
        go. I agree, but, this is at least a beginning...</p>
</section>
<section>
    <h2>When should this happen</h2>
    <p> Start date is 1.September 2025 and we want to go back to Munich at the end of August 2026 </p>
</section>


