h2 {
  font-size: 1.5em;
}

.info {
  flex: 1 1 auto;
  border: 2px solid #BCD7B6;
  border-radius: 4px;
  padding: 20px;
  margin: 30px;
  box-shadow: 2px 6px 9px 2px rgb(0 0 0 / 20%);
  background-color: #FFFFFF;
  min-width: 300px;
}

@media screen and (max-width: 599px) {
  .info {
    padding: 5px;
    margin: 5px;
    
  }
}
