<title>
  <mat-icon class="tab-icon">luggage</mat-icon>
  Packliste
</title>
40 Liter großer Rucksack und ein 15 Liter Tagesrucksack soll reichen. Beider Rucksäcke können zusammen binden,
falls man der kleine Tagesrucksack nicht braucht. Wir nehmen wirklich nur die nötigsten Sachen für unterwegs.
Wenn man fliegt, kann man auch alles ohne Problem als Handgepäck auf
Flugzeug mitnehmen. Natürlich Regenschutz und Packwürfel sind auch notwendig. 40 Liter großer Rucksack und ein
15 Liter Tagesrucksack soll reichen. Beider Rucksäcke können zusammen binden,
falls man der kleine Tagesrucksack nicht braucht. Wir nehmen wirklich nur die nötigsten Sachen für unterwegs.
Wenn man fliegt, kann man auch alles ohne Problem als Handgepäck auf
Flugzeug mitnehmen. Natürlich Regenschutz und Packwürfel sind auch notwendig.

@for (item of packingList; track item; let i = $index) {
  <h3>{{ item.category }}</h3>
  <mat-list>
    @for (thing of item.items; track thing) {
      <mat-list-item>
        <span matListItemTitle>{{ thing.name }}</span>
        <span matListItemLine>{{ thing.description }}</span>
      </mat-list-item>
    }
  </mat-list>
}




