<div class="content">
  <header>
    <h1></h1>
  </header>
  <article>
    <section>
      <mat-list>
        <mat-list-item>XinHelp</mat-list-item>
        <mat-list-item>XinLerning Chinese</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>XinReading</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>XinCoding</mat-list-item>
      </mat-list>
    </section>
    <mat-divider></mat-divider>
    <section>
      second section
    </section>
    <mat-divider></mat-divider>
    <section>
      third section
    </section>
  </article>
  <footer>
  </footer>
</div>
